
.select {
  width: 450px;
  margin-top: 10px;
  margin-left: 34%;
  margin-top: 6%;
}

body {
  background-color:wheat;
}

.colorContainer{
 width: 40%;
 height: 40%;
 position: absolute;
 margin-top: 10%;
 background-color: brown;
 margin-left: 29%;
}

.title{
  margin-left:40%;
  font-size:30px;
}

@media only screen and (max-width: 450px) {

  .colorContainer{
    width: 61%;
    height: 40%;
    position: absolute;
    margin-top: 10%;
    background-color: brown;
    margin-left: 21%;
   }

   
.select {
  width: 300px;
  margin-top: 10px;
  margin-left: 12%;
  margin-top: 6%;
}

.select:focus{
  outline: none;
  border-color: none;
}

.title{
  margin-left:14%;
  font-size:30px;
}

}

@media only screen and (min-width:451px) and (max-width:1000px) {

  .colorContainer{
    width: 61%;
    height: 40%;
    position: absolute;
    margin-top: 10%;
    background-color: brown;
    margin-left: 19%;
   }

   
.select {
  width: 400px;
  margin-top: 10px;
  margin-left: 18%;
  margin-top: 6%;
}



.title{
  margin-left:18%;
  font-size:40px;
}


}